.icon-scroller {
  background-color: snow;
  position: fixed;
  text-align: center;
  padding: 2px;
  z-index: 1;
}

.icon-scroller .edge {
  position: fixed;
  width: 5px;
  border-left-width: 5px;
  margin-left: 15px;
}

.icon-button {
  float: right;
  position: fixed;
  margin-left: -9px;
}
