.searcher {
  margin: 0px 5px;
}

.searcher .icon {
  width: 100%;
}

.searcher input {
  height: 36px;
  font-weight: bold;
  font-size: large;
  border-radius: 5px !important;
  /* background-color:#efefef !important; */
}

.searcher-mobile input {
  font-size: medium !important;
}
