.post-item .extra button:first-child {
  margin-left: 3px !important;
}

.post-item {
  /* padding-top: 10px !important; */
  padding-bottom: 5px !important;
  cursor: pointer;
}

.post-item-actions {
  padding: 0px;
  border-top: solid 1px lavenderblush;
  font-size: xx-small;
}

.post-item-actions .item {
  color: darkgray !important;
}
.post-item-actions .item:hover {
  color: black !important;
}

.post-item .blurrer {
  margin: 0 !important;
  height: 50px;
  margin-top: -49px !important;
  text-align: right;
  padding-top: 25px;
  color: darkgray;
  position: relative;
  font-weight: bold;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 18%,
    rgba(255, 255, 255, 1) 92%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 18%,
    rgba(255, 255, 255, 1) 92%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 18%,
    rgba(255, 255, 255, 1) 92%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
