.post-item .extra button:first-child {
  margin-left: 3px !important;
}

.post-item {
  /* padding-top: 10px !important; */
  padding-bottom: 5px !important;
  cursor: pointer;
}

.post-item-actions {
  padding: 0px;
  border-top: solid 1px lavenderblush;
  font-size: xx-small;
}

.post-item-actions .item {
  color: darkgray !important;
}
.post-item-actions .item:hover {
  color: black !important;;
}