.content-editor-actions {
}
.content-editor-controls {
  /* background-color: whitesmoke; */
  max-height: 400px;
}
.content-editor-actions .ant-tabs-tab .anticon {
  margin: 0;
}

.content-editor-actions .ant-tabs-tab {
  margin-right: 10px;
}

.content-editor-actions .ant-tabs-bar {
  margin-bottom: 0px;
}

.content-editor-actions .widget-selector {
  background-color: #2f74ac;
  padding: 1px 15px;
  font-weight: bolder;
}

.content-editor-actions .widget-selector .button {
  /* background-color: whitesmoke !important; */
  font-weight: bolder;
}

/* .content-editor-actions .ant-tabs-content {
  background-color: antiquewhite;
} */
