.content-active {
  background-color: #d7eaff !important;
  border-top: 1px solid #1a69a4 !important;
  border-bottom: 1px solid #1a69a4 !important;
}

.content-inactive {
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

.content-active:hover {
  background-color: aliceblue !important;
}

.content-inactive:hover {
  background-color: aliceblue !important;
}

.add-content .ant-btn {
  color: rgba(64, 169, 255, 0.7);
  border-color: rgba(64, 169, 255, 1);
}

.post-editor-modal .content-selector .card {
  cursor: pointer;
}

.post-editor-modal .content-selector .card:hover {
  cursor: pointer;
  background-color: ivory;
}

.post-editor-modal .modal .content {
  padding: 0px !important;
}

.post-editor-modal .content-actions {
  float: right;
  height: 30px;
  margin-top: -29px;
  position: relative;
  margin-right: 5px;
  z-index: 1;
}

.post-editor-modal .content-actions .button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.post-editor-modal .content-actions .button {
  margin-left: 7px;
}

.post-editor-modal .reply-parent-post-item {
  background-color: white;
  padding: 5px;
  margin-top: 5px;
}
.post-editor-modal .reply-parent-post {
  padding-top: 5px;
  margin-bottom: 0px;
}

.post-editor-modal .new-reply-header {
  margin-top: 0px;
  font-weight: bold;
  border-radius: 0;
}

.post-editor-modal .ant-drawer-body {
  height: 100%;
  padding: 0px;
}

.reply-wrap-drawer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  height: 100%;
}
.reply-wrap-drawer .reply-wrap-header {
  /* font-size: large;
  font-weight: bold; */
  color: darkgray;
  padding: 5px;
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
}
.reply-wrap-drawer .reply-wrap-body {
  order: 2;
  flex: 5 1 auto;
  align-self: auto;
  overflow-y: auto;
}
.reply-wrap-drawer .reply-wrap-actions {
  order: 3;
  overflow-y: auto;
  flex: 0 0 auto;
  align-self: auto;
}
