.replies {
  background-color: snow;
}

.replies .segment {
  border: none;
}
.replies-header {
  padding: 5px;
  height: 40px;
  position: relative;
}

.replies-header span {
  font-weight: bold;
  color: darkgray;
  display: inline-block;
  padding: 4px;
}

.reply {
  /* border-bottom: solid 1px gainsboro; */
}

.reply .reply-header {
  height: 30px;
  background-color: white;
  border-bottom: solid 1px lavenderblush;
  padding: 5px;
}

.reply .reply-header .name a {
  color: darkgray !important;
  font-weight: bold;
}
.reply .reply-header .name a:hover {
  color: inherit !important;
}

.reply .extra {
  color: darkgray !important;
}

.reply > div {
  /* padding: 5px; */
}

.reply-content > .post-item {
  /* padding-top: 20px !important; */
}
