.top-header {
  border-radius: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 902;
  background-color: white !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}